[submodule "external/calamine"]
	path = external/calamine
	url = https://github.com/Vignesh2308m/calamine.git
[submodule "external/pdf-rs"]
	path = external/pdf-rs
	url = https://github.com/pdf-rs/pdf.git
